body {
	height: 100%;
	width: 100%;
}

#headerholder {
	position: fixed;
	left: 50px;
	top: 0px;
	right: 50px;
	height: 100px;
	border: 1px solid rgb(77, 77, 77);
}

#footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	background-color: rgb(160, 160, 160);
}

#menuheader {
	position: fixed;
	left: 120px;
	right: 120px;
	top: 121px;
	height: 50px;
	background-color: #fcb318;
	border: 1px solid rgb(200, 200, 200);
}

#menuholder {
	height: 100%;
	width: 50%;
	display: table;
}

.menu {
	color: white;
	display: table-cell;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

#maincontentwrapper {
	position: fixed;
	left: 120px;
	top: 220px;
	right: 120px;
	bottom: 50px;
	overflow-y: auto;
}

#maincontentholder {
	height: 100%;
	width: 100%;
	display: table;
}

#maincontent {
	display: table-cell;
	height: 100%;
	width: 100%;
	text-align: center;
}

.menu:hover {
	background-color: rgb(140, 140, 140);
	cursor: pointer;
}

.selected {
	color: white;
	display: table-cell;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	background-color: rgb(140, 140, 140);
	font-weight: bold;
}

#table, th, td {
	border-collapse: collapse;
}

td, th {
	border: 1px solid gray;
	padding : 5px 10px 5px 10px;
	text-align: center;
}

td {
	border: 1px solid gray;
	padding : 5px 10px 5px 10px;
	text-align: center;
}

th {
	color: white;
	background-color: #fcb318;
	height : 50px;
}

#hldr {
	display: inline-block;
	border: 2px solid gray;
	box-shadow: 0 0 20px gray;
	height: 100%;
}

.addbuttons {
	margin: 15px;
	font-weight: bold;
	border-radius: 3px;
	border-color: #fcb318;
	border-style: solid;
	box-shadow: 0 8px 5px rgb(160, 160, 160);
	text-align: center; padding: 10px 35px 10px 35px;
	background-color: #fcb318;
	color: white;
}

.popupbuttons {
	margin-top: 10px;
	font-weight: bold;
	width: 70%;
	border-radius: 2px;
	border-color: rgb(140, 140, 140);
	border-style: solid;
	box-shadow: 0 8px 5px rgb(160, 160, 160);
	text-align: center; padding: 6px 0 6px 0;
	background-color: rgb(140, 140, 140);
	color: white;
}

.popupbuttons:hover {
	cursor: pointer;
}

.addbuttons:hover {
	cursor: pointer;
}

.popupheaders {
	background-color: #e3a002;
	width: 100%;
	height: 20%;
	margin-top: 0px;
	display: inline-block;
	color: white;
	font-family: "Tahoma";
	margin-bottom: 25px;
}

#inputpanelwrapper {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-y: auto;
}

#inputpanelcontainer {
	display: table;
	width: 100%;
	height: 100%;
}

#inputpanel {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#inputs {
	display: inline-block;
	width: 20%;
	background-color: white;
	border: 10px solid #e3a002;
	vertical-align: middle;
	text-align: center;
	border-radius: 2px;
}

#inputswrapper {
	display: table;
	height: 100%;
	width: 100%;
}

#inputscontainer {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
	font-family: "Georgia";
	width: 100%;
	padding-bottom: 20px;
}

#inputscontainer > input, select {
	margin-top: 8px;
	margin-bottom: 8px;
	display: inline-block;
	width: 70%;
	height: 20px;
	border: 1px solid #fcb318;
	border-radius: 5px;
}

#inputscontainer > p {
	color: black;
	font-family: "tahoma";
	margin-top: 0;
	margin-bottom: 2px;
	font-size: 12px;
}

.hidden {
	display: none;
}
